docker {
    enabled = true
    temp = 'auto'
    runOptions = '-u $(id -u):$(id -g)'
}

executor {
  name = 'local'
  cpus = 8
  memory = '32 GB'
}

params {
  fastPPhred					        =		  30

  hydraReportThreshold			  =		  1
  hydraConsensusPercent			  =		  100
  hydraMinReadQuality			    =		  20
  hydraMinReadLength		  	  =		  100
  hydraMinScoreCutoff 			  =		  20
  hydraMinVariantQuality		  =		  30
  hydraMinVariantDepth			  =		  100
  hydraMinVariantFrequency		=		  0.01
  hydraMinAlleleCount			    =		  5

  sierraXML                   =     "$baseDir/assets/HIVDB_9.1.xml"
  sierraMutationDBComments    =     "$baseDir/assets/mutation_comments_db.csv"

  reportHTML                  =     "$baseDir/bin/hivdr.Rmd"
  reportPDF                   =     "$baseDir/bin/hivdr_static.Rmd"
  reportHeader                =     "$baseDir/assets/header.tex"

}

