docker {
	enabled = true
	temp = 'auto'
	runOptions = '-u $(id -u):$(id -g)'
}


profiles {
	standard {
		process.executor	=	'local'
		process.cpus		=	8
		process.memory		=	'16 GB'
	}

	hpc {
		process.executor	=	'local'
		process.cpus		=	32
		process.memory		=	'128 GB'
	}
}



params {
	illumina				=			null
	ont				=			null

	fastPPhred				=			30

	hydraReportThreshold			=			1
	hydraConsensusPercent			=			20
	hydraMinReadQuality			=			20
	hydraMinReadLength			=			100
	hydraMinScoreCutoff			=			30
	hydraMinVariantQuality			=			30
	hydraMinVariantDepth			=			100
	hydraMinVariantFrequency		=			0.01
	hydraMinAlleleCount			=			5

	sierraXML				=			"$baseDir/assets/HIVDB_9.5.0.xml"
	sierraMutationDBComments		=			"$baseDir/assets/mutation_comments_db.csv"

	reportPDF				=			"$baseDir/bin/hivdr_static.Rmd"

}

